/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  color: #333;
  background-color: #f9f9f9;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Estilos de navegación */
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
  color: #FFD700; /* Cambia el color al pasar el cursor */
  transform: scale(1.1); /* Aumenta ligeramente el tamaño */
}

main {
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  margin-top: 1rem;
  text-align: center;
}

footer .social-links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

footer .social-links a:hover {
  text-decoration: underline;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    display: block;
    margin-bottom: 10px;
  }
}

/* Añade más estilos según sea necesario */

